/* general */
*, ::after, ::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, h1, p {
    margin: 0;
}

p, h1, h2, a {
    color: #866857;
}


/* nav */
.title-and-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
    width: 100%;

    /* makes the nav stay at the top */
    position: fixed;
    top: 0;
}

.title-and-nav, .title-and-nav * {
    background-color: #866857;
    color: #fefaf7;
}

.title {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin: 10px 20px 10px 20px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}

a b:hover {
    color: #fcb6b6;
}

h2 {
    padding: 5px;
    margin: 0;
}


/* body general */
.body {
    margin-top: 70px;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 40px 200px 40px 200px; */
    padding: 40px 20% 40px 20%;
}

p, li {
    font-size: 22px;
}


/* home */
#main-img {
    object-fit: contain;
    width: 500px;
    height: 500px;
    margin: 0px auto 0px auto;
}

#main-img * {
    background-color: #fefaf7;
}


/* problem */
#problem {
    background-color: #BACC80;
    padding-top: 0px;
    /* override original padding bc the image is long */
}

#problem * {
    color: #866857;
}

#problem-text {
    margin-top: 30px;
}

#problem-img {
    height: 300px;
    width: 400px;
    margin: 20px auto 20px auto;
}


/* data */
.graphs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

#data-title {
    margin-bottom: 20px;
}


/* resources */
#resources {
    background-color: #fcb6b6;
}

#resources * {
    color: #866857;
}

#resources-img {
    width: 400px;
    height: 300px;
    margin: 40px auto 40px auto;
}


/* resources */
li {
    text-align: left !important;
    margin-left: 40px;
    padding-left: 20px;
}